.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img{
  width: 200px;
  height: 200px;
}

.box{
  background-color:hotpink;
  align-items: center;
  border: 1px solid wheat;
  padding: 10px;
  width: 220px;
  border-radius: 40px;
  margin: 30px;
  display: inline-block;
} 

.buttonBox{
  border-radius: 30px;
}

.conteinerBox{
  justify-content: center;
  
}